{%extends 'webbase.html'%}
{% block title %}
  Lifestyle Diseases
{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
     <a class="navbar-brand" href="#">End-of-the-day Dietary Analysis</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
     <div class="collapse navbar-collapse" id="navbarNav">
      </div>
       <ul class="navbar-nav mr-auto">
         <li class="nav-item">
           <a class="nav-link" href="/home">Home</a> 
         </li>
          <li class="nav-item active">
            <a class="nav-link" href="/LifestyleDiseases">Lifestyle Diseases <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/BMI">Body Mass Index</a> 
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Meals">Healthy Diet</a> 
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/DoctorsNearby">Professionals</a> 
        </li>
        </ul>
</nav>


<div class="position-auto overflow-hidden p-3 p-md-5 m-md-3 bg-dark"  style="color:white">
  <div class="col-md-5 p-lg-5 mx-auto my-1"> </div>

<h1 style="margin-top: -3cm; text-align: center">Understanding Common Lifestyle Diseases
<!--DIABETES-->

    <h2>Diabetes</h2>
      <p1>Diabetes is one of the most prevalent illnesses in the Caribbean region with a recorded 9-18% of the world's population, that is, 1 in 5 persons
        to 1 in 10 persons is estimated to have the disease. Adding to which, this region has the world highest rank for number of 
        amputations due to the disease. In the Carribean population, 20% is estimated to be diabetic patients. Diabetes occurs when the body's blood sugar 
        level is extremely high because our cells cannot use the sugar from the foods we eat. 
        <img src="static/images/insulin.jpg" style="float:left; width:11cm; height:9cm; margin-top: 0.5cm; margin-bottom: 0.5cm; margin-right: 1cm;
        border:solid aqua 3px; padding: 1px"/>Insulin, a fairly known term, is a hormone that our bodies produce that allows our cells to accept suagr from
        our blood stream in order to prevent high blood sugar. We become diabetic when our bodies cannot produce insulin or enough of it so we are forced to
        change our diet to acquire insulin from our foods. As a result, diabetic patients are advised to consume less sugary foods since their bodies are
        unable to use it. This is why at a very young age we should try to prevent diabetes at all costs.
      </p1> 
      
      <p2>There are two main forms of diabetes:
        <ul>
          <li>Type 1- insulin not produced</li>
          <li>Type 2- insulin produced but cannot be used</li>
        </ul>
      </p2>
 
      <h4 style="color:aqua">Type 1- Insulin Dependent Diabetes</h4>
        <p3>This form of diabetes is also known as <b style="color:lime">juvenile diabetes</b> as it begins very early in life. In this case, insulin is not produced by the
        body and the sufferer usually lives taking insulin injections throughout their life. Care must be taken that one does not overdose on insulin
        nor foods containing suagrs and starch in order to maintain a stable blood sugar level. Signs that one has too low of blood sugar are 
        excessive sweating, fast breathing, stressful, and in some cases fainting.
        </p3>
   
      <h4 style="color:aqua;margin-top: 15px">Type 2- Insulin Independent Diabetes</h4>
        <p4>The type 2 diabetes is a bit more complicated that the type 1. In this case, the body does produce the required insulin but the muscles 
          and cells cannot use it to absorb sugars from the blood. So as a result, our blood sugar levels increase. The science behind that Type 2
          diabetes is mainly due to our lifestyle choices is because on our cells there are special proteins whose job is to tell our cells to
         use insulin and take glucose from the blood. When we make poor decisions in life like not being active or eating fatty-sugary foods, we
         make this process in our bodies very difficult which leads to diabetes.
        </p4>
        
        <p>The scary part is that diabetes is way too common than it should be which shows that we take this topic lightly. Uncontrolled diabetes
          can lead to <b style="color:lime">blindness</b>, <b style="color:lime">kidney diseases</b>, <b style="color:lime">heart and blood vessels complications</b> and 
          <b style="color:lime">cuts that do not heal easily</b>.
        </p>
        
        <p>Here are some of the most common signs of diabetes:
          <ul>
            <li>Always thirsty</li>
            <li>Urinating alot</li>
            <li>Cuts take a while to heal</li>
            <li>Quickly gets hungry</li>
            <li>Drowsiness</li>
            <li>Numbness to fingers or feet</li>
          </ul>
        </p>

        <p7><b style="color:red">NOTE</b>: If you have most of these signs, do not further use this program and contact a health professional to be on the safe side.
          A few contact information can be found at the 'Professionals' tab on the upper right hand side of this page.
        </p7>

<!--HYPERTENSION-->
        <p style="margin-top: 25px; text-align: left; font-size: 2rem;">High Blood Pressure (Hypertension)</p>
        <p>High Blood Pressure is another serious illness that is caused by our lifestyle choices. Hypertension is a disease that we MUST try to prevent
          as it is responsible for most of early deaths worldwide. In the Caribbean region, a whopping 25% to 55% of the population aged 25 to 40 has
          hypertension. 
        </p>

        <p>To understand this disease further, we must put the concept in a real life situation.<img src="static/images/bloodp.jpg" style="float:right; width:13cm; height:9cm; margin-top: 0.5cm; margin-bottom: 0.5cm; margin-left: 1cm;
          border:solid aqua 3px; padding: 1px"/> Picture a pump spraying out water with alot of force,
          we say the water is coming out with alot of pressure right? This is the exact case in the extremely small blood vessels (called <b style="color:lime">arterioles</b>) in our bodies.
          When blood vessels become narrow, the blood passing through it is pushed with more force to and from the heart. This causes alot of strain
          on the heart as the heart would need to maintain this pressure. Now you may think, why are these blood vessels getting narrower? This is 
          due the build up of fat that clogs the walls of blood vessels. 
        </p>

        <p>Let's discuss factors that can lead to hypertension because they make the arterioles narrow from plaque build up. Plaques are mainly made 
          up of cholesterol and fats. As you would tell, <b style="color:lime">fatty foods</b> especially fried, would cause this along with <b style="color:lime">obesity</b>. As with any other 
          lifestyle diseases, <b style="color:lime">not being physically active</b> does lead to plaque build up. <b style="color:lime">Smoking</b> too causes hypertension but not by plaque build-up. Smoking
          damaged the blood vessel walls.
        </p>

        <p> I'm most certain you have heard people say that salt gives you high blood pressure but with what I have told you, salt does not 
          have fats to build plaque... so how does it cause hypertension? <b style="color:lime">Salt</b> takes a completely different approach.
          As apart of the Caribbean, all of our cuisines are loaded with salt; from the curries to the seasoned fried plantains. When we consume alot
          salt, the body holds in alot of the water we drink to dilute the salt and as such, the volume of the blood increases from the extra water.
          Think of a hose, if you have alot of water coming out of a small hose, would it not come out with alot of pressure? Exactly. The same thing
          is happening here. This is the importance of watching our salt intake.
        </p>

        <p>This dreadful disease does not stop here. Hypertension can lead to heart failure, strokes, and damage to the brain, kidneys, heart and other 
          organs if left untreated. It is important that we take care of ourselves to prevent a random collapse one day.
        </p>
        
        <p>Here are some of the most common signs of High Blood Pressure:
          <ul>
            <li>Dizziness</li>
            <li>Weakness</li>
            <li>Feeling upset stomach</li>
            <li>Heart beatng fast</li>
            <li>Heahaches</li>
            <li>Shortness of breath</li>
          </ul>
        </p>

        <p><b style="color:red">NOTE</b>: If you have most of these signs, do not further use this program and contact a health professional to be on the safe side.
          A few contact information can be found at the 'Professionals' tab on the upper right hand side of this page.
        </p>
</h1>
      
<div class="product-device box-shadow d-none d-md-block"></div>
<div class="product-device product-device-2 box-shadow d-none d-md-block">
</div>

<style>
  body {
    background-image: url("static/images/lifedbg.jpg");
    background-size: 100vh;
    background-image: repeat;
    font-family:c; 
    }
</style>
{% endblock %}